<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Home Folder</string>
	<key>dirInfo</key>
	<dict>
		<key>dev_projects</key>
		<string>dev_projects</string>
		<key>.contact_me</key>
		<string>contact_me</string>
	</dict>
	<key>content</key>
	<array>
		<dict>
			<key>description</key>
			<string>Checkout my iOS development projects!</string>
			<key>image</key>
			<string>dev_projects.png</string>
			<key>sub_dir</key>
			<string>dev_projects</string>
		</dict>
		<dict>
			<key>description</key>
			<string>The people who taught me everything</string>
			<key>image</key>
			<string>education.png</string>
			<key>sub_dir</key>
			<string>education</string>
		</dict>
	</array>
</dict>
</plist>
