<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Credits</string>
	<key>parentDir</key>
	<string>coverpage</string>
	<key>dirInfo</key>
	<dict/>
	<key>content</key>
	<array>
		<dict>
			<key>description</key>
			<string>My dear friend and roommate, tremendous help with the icon and artworks!</string>
			<key>image</key>
			<string>minzhao.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Thank you all for the great artworks!</string>
			<key>image</key>
			<string>artists.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Thank you Thomas for this great/easy-to-use lib!</string>
			<key>image</key>
			<string>blur.png</string>
		</dict>
	</array>
</dict>
</plist>
