<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Later Note</string>
	<key>parentDir</key>
	<string>coverpage</string>
	<key>dirInfo</key>
	<dict/>
	<key>app_url</key>
	<string>https://itunes.apple.com/cn/app/im-office/id525351455?mt=8</string>
	<key>content</key>
	<array>
		<dict>
			<key>description</key>
			<string>Later Note, for lazy dudes like me XD</string>
			<key>image</key>
			<string>cover.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Started just to address my personal urgent needs</string>
			<key>image</key>
			<string>angry_girlfriend.jpg</string>
		</dict>
		<dict>
			<key>description</key>
			<string>I hate it that when I set reminders, I have to scroll to a specific time</string>
			<key>image</key>
			<string>classic_alarm.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>So I did this instead!</string>
			<key>image</key>
			<string>our_timer.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Then I added built-in achievements to reward myself</string>
			<key>image</key>
			<string>achievements.png</string>
		</dict>
	</array>
</dict>
</plist>
