<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>An IM System</string>
	<key>parentDir</key>
	<string>dev_projects</string>
	<key>dirInfo</key>
	<dict/>
	<key>app_url</key>
	<string>https://itunes.apple.com/cn/app/im-office/id525351455?mt=8</string>
	<key>content</key>
	<array>
		<dict>
			<key>description</key>
			<string>Took the job to build a iphone version of an existing PC IM system</string>
			<key>image</key>
			<string>im_cover.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>2-man team, he did network layer and I did the rest</string>
			<key>image</key>
			<string>2-man.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>50k lines of code, finished within 3 month</string>
			<key>image</key>
			<string>finish.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>But it&apos;s Chinese market only for now :-(</string>
			<key>image</key>
			<string>chinese.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>The user base was 100k level, so we have to address tons of issues</string>
			<key>image</key>
			<string>userbase.png</string>
		</dict>
	</array>
</dict>
</plist>
