<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Started just to address my personal urgent needs</string>
		<key>image</key>
		<string>angry_girlfriend.jpg</string>
	</dict>
	<dict>
		<key>description</key>
		<string>I hate it that when I set reminders, I have to scroll to a specific time</string>
		<key>image</key>
		<string>classic_alarm.png</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Started just to address my personal urgent needs</string>
		<key>image</key>
		<string>classic_alarm.png</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Started just to address my personal urgent needs</string>
		<key>image</key>
		<string>classic_alarm.png</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Started just to address my personal urgent needs</string>
		<key>image</key>
		<string>classic_alarm.png</string>
	</dict>
</array>
</plist>
