<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Education</string>
	<key>parentDir</key>
	<string>coverpage</string>
	<key>dirInfo</key>
	<dict/>
	<key>app_url</key>
	<string></string>
	<key>content</key>
	<array>
		<dict>
			<key>description</key>
			<string>Grad School, had so much fun coding here! Met a bunch of smart people, so worth it!</string>
			<key>image</key>
			<string>cmu.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>My beloved undergrad years, spent 4 years coding and WOWing</string>
			<key>image</key>
			<string>zju.JPG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Exchanged here for a year, where I started iOS development</string>
			<key>image</key>
			<string>sfu.png</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Made me who I am, my middle/high school</string>
			<key>image</key>
			<string>hfls.jpg</string>
		</dict>
	</array>
</dict>
</plist>
